body{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: #0099ff;
    width: 99%;
    height: 30px;
}
.header{
    text-align: center;
    padding: 10px;
    font-size: 25px;
}
.content{
    background-color: rgb(241, 44, 44);
    width: 70px;
    height:530px;
   text-align: center;
    
}
.left{
   position: relative;
   top: 30%;
}

.mon-div{
    text-align: center;
    /* margin-top: 40px; */
}
.mon-div{
    display: flex;
    display:inline flex;
    font-size: 25px;
    text-align: center;
}
.contenu{
  text-align: center;
  font-size: 25px;
  padding: 160px;
    background-color: rgb(226, 226, 47); 
    width: 100%;
}

.pied{
   text-align: center;
    background-color: #00ff00;
    padding: 20px;
    font-size: 25px;
   
}

a{
    text-decoration: none;
    color: black;
}
@media  (max-width :800px){
    .contenu{
        width: 100%;
    }
    .header{
        width: 100%;
    }
    .pied{
        width: 100%;
    }
    
}

